:root{ /* É o HTML */
    --var_color: rgb(119, 255, 0);
    --square-size: 200px;
}


.p2{
    color: var(--var_color);
}

.p3{
    color: var(--var_color);

}

.sqr1{
    width: var(--square-size);
    height: var(--square-size);
    background-color: black;
}

.sqr2{
    width: var(--square-size);
    height: var(--square-size);
    background-color: green;
}

