@import "./footer.css";
@import "./header.css";
@import "./main.css";


*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-image: url(../imgs/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

