main{
    width: 100%;
    /* border: solid 1px rgb(207, 16, 16); */
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.226); */
}

.formField{
    width: 700px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    background-image: url("../imgs/card.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 24px;
    padding: 5px 0; 
    align-items: center;
    margin-top: 180px;
    /* display: flex;
    margin: 180px auto;
    flex-direction: column;
    align-items: center;
    background-image: url("../imgs/card.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 20px;
    padding: 20px 0; */
}


.formField .img{
    width: 150px;
    height: 150px;
    border: #fff solid 3px;
    justify-content: center;
    border-radius: 93px; 
    margin-top: -90px;
} 

.formField .img img{width: 100%;} 

.messages{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    /* border: rgb(3, 255, 100) solid 1px;  */
    line-height: 30px;
    padding: 20px;
}

.messages #obs{font-size: 14px;} 


.form{
    width: 80%;
    padding: 20px;
    /* border: solid #000 1px;  */
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 800;  
} 


.form input{
    margin-bottom: 20px;
    padding: 10px;
}

.form p {
    margin-bottom: 8px;
}

.botoes{
    /* border: solid #000 1px;  */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
} 

.botoes #limpar, #enviar{
    padding: 12px;
    font-weight: 800;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
} 


#enviar{
    background-color: #262626;
    color: #fff;
} 

#limpar{
    background-color: #8442FF;
    color: #fff;
} 


@media (min-width: 500px) and (max-width: 730px){
    .formField{
        width: 490px;
    }
}


@media (min-width: 410px) and (max-width: 499px){
    .formField{
        width: 400px;
    }
} 


@media (min-width: 360px) and (max-width: 409px){
    .formField{
        width: 350px;
    }
} 


@media (min-width: 300px) and (max-width: 355px){
    .formField{
        width: 300px;
    }
} 

