*{ padding: 0; margin: 0;box-sizing: border-box;}

header{
    width: 100%;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    margin-left: 40px;
    font-weight: bold;
}













