/* Flexbox é uma caixa flexível, faz com que os elementos sejam flexíveis ao elemento pái deles. Ou seja, é possível fazer um design que seja flexível a qualquer tipo de tela */
/* 
Tem como juntar duas propriedadades e juntar numa linha só:
flex-direction: row;
flex-wrap: wrap;
flex-flow: flex-direction flex-wrap; ou seja, tem como juntar os dois em um só, exemplo:
flex-flow: row wrap;  
APENAS PARA FLEX-DIRECTION E FLEX-WRAP
*/


.container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; Mantém o espaço sempre igual */
    justify-content: center;
    align-items: center;/* O padrão do align-items é o stretch */

    /*Quando o flex-direction está em colum, o justify-content funciona VERTICALMENTE*/
    background-color: darkgrey;
    height: 400px;
    color: white;
}

.r1{
    background-color: red;
}

.r2{
    background-color: blue;
}

.r3{
    background-color: green;
}

.rect{
    width: 100px;
    height: 100px;
}