/*
    Passos para criar animação:
    Criar animação
    Dizer qual é a propriedade vou alterar
    Quanto tempo vai levar do estado A p/ B
*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

@keyframes changeColor {
    0% {background-color: red; width: 200px;}
    50% {background-color: yellow; width: 400px;}
    100% {background-color: blue; width: 200px;}
}
.box{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 20px;
    animation-name: changeColor;
    animation-duration: 10s;
}




